In [1]:
import pandas as pd
import numpy as np

superstore = pd.read_csv("Sample - EU Superstore.csv")

# Grouping

From a data analysis point of view there are two types of columns:

- Dimensions -> categorical variables -> Segment, City, Country -> they cannot be aggregated using typical maths operators -> sum, doesnt work
- Measures -> numerical variables -> can be aggregated

We sometimes are able to turn measures into dimensions by binning e.g. low risk, medium, high, very high

normally we represent measures as a function of dimensions -> sales per country, profit per state. This is done with group by

## Groupby

In [2]:
# Group by similar to SQL, but with a lot of flexibility
# groupby(the dimensions you want to group by).agg({measure(s) to aggregate: aggegation function(s)})

superstore.groupby(['Segment']).agg({'Sales':sum,'Order Date':min})

#alternatively, if we only have one column we can use the alternative syntax

display(superstore.groupby(['Segment'])['Sales'].agg(sum))
display(superstore.groupby(['Segment']).agg({'Sales':sum}))



# grouped by dimensions become the new index!!

superstore.groupby(['Segment','State']).agg({'Sales':sum,'Order Date':min,'Customer ID':pd.Series.nunique})

Segment
Consumer       1.529716e+06
Corporate      9.200083e+05
Home Office    4.883645e+05
Name: Sales, dtype: float64

                    Sales
Segment
Consumer     1.529716e+06
Corporate    9.200083e+05
Home Office  4.883645e+05

                                                    Sales  Order Date  \
Segment     State
Consumer    Abruzzi                             3851.8800  04/06/2017
            Alsace-Champagne-Ardenne-Lorraine  20664.8715  01/09/2015
            Andalusía                          18270.4350  01/02/2016
            Antwerp                             7899.0900  01/01/2016
            Apulia                             12537.0000  02/02/2016
...                                                   ...         ...
Home Office Valenciana                          7638.7290  02/12/2014
            Veneto                               602.4120  04/08/2015
            Vienna                             11763.0600  01/10/2017
            Wales                               2453.0400  05/05/2015
            Zürich                              1340.0400  01/11/2014

                                               Customer ID
Segment     State
Consumer    Abruzzi                                      4
            Alsace-Champagne-Ardenne-Lorraine           44
            Andalusía                                   31
            Antwerp                                      9
            Apulia                                      23
...                                                    ...
Home Office Valenciana                                  11
            Veneto                                       5
            Vienna                                      19
            Wales                                        6
            Zürich                                       2

[319 rows x 3 columns]

In [ ]:
#Multi-indexes can be hard to manage
#Tip, you can turn the index back into columns by using reset_index()
superstore.groupby(['Segment','State']).agg({'Sales':sum,'Order Date':min,'Customer ID':pd.Series.nunique}).reset_index()

In [ ]:
# what if I want to define my own aggregation operation?
# you define your own aggregation function

def range_aggregation(x):
    return max(x) - min(x)

range_aggregation([2,4,6,8,10])

In [ ]:
superstore.groupby('Segment')

In [ ]:
# perform your usual group by, but then in the aggregation method, call the function you just defined
superstore.groupby('Segment')['Sales'].agg(range_aggregation)
superstore.groupby(['Segment','State']).agg({'Sales':sum,'Profit':range_aggregation}).reset_index().head()

In [ ]:
#do it yourself: find the average profit and total Sales per shipping mode

### Pivot Tables

For those familiar with Excel, there is a function named <b>pivot_table</b>,
which does something very similar, but with a familiar interface

In [ ]:
superstore = pd.read_excel('Sample - Superstore.xls')
superstore.head()

In [ ]:
# Let's make "Category" into an index, there are plenty of repetitions of those
superstore.pivot_table(index= ['Category'])
#superstore.pivot_table(index= ['Category'], sort=False)

# we can see that:
# pandas did a group by Category
# it kept only the numeric columns
# then aggregated the results for those with the mean, which is his default aggregation

In [ ]:
# we can also add an index to columns, like in standard pivot
superstore.pivot_table(index= ['Category'],columns=['Region'])

In [ ]:
# Or we can do the same pivot all in the rows
superstore.pivot_table(index= ['Category','Region'])

In [ ]:
# tip: you can get rid of the multi-index with .reset_index()
superstore.pivot_table(index= ['Category','Region']).reset_index()

In [ ]:
#you can select only a subset of columns to keep the values of
superstore.pivot_table(index= ['Category','Region'], values = ['Sales','Profit','Discount']).reset_index()

In [ ]:
# and you can pick one or more aggregations
superstore.pivot_table(index= ['Category','Region'], values = ['Sales','Profit'], aggfunc = ['sum','mean'])
df = superstore.pivot_table(index= ['Category','Region'], values = ['Sales','Profit'], aggfunc = {'Sales':['sum','mean'],'Profit':'mean'}).reset_index()
df.head()
df.columns = ['Category','Region', 'MeanProfit', 'MeanSales', 'TotalSales']
df

In [ ]:
# finally, we have only been using numeric aggregations, therefore only numeric columns show up 
# but if you use aggregations that work on other datatypes, they are also output
superstore.pivot_table(index= ['Category','Region'], aggfunc = ['max','mean']).head(5)

In [ ]:
### content below not used in lesson
### left in as a refresher for people who need melt and/or pivot (not pivot_table)

In [ ]:
# For some applications (like data visualization) we will want information to be verticalized, so we can filter on column values
# the typical example here is the calendar


data = pd.read_excel('Total_sales_month.xls')
data
#We may want to filter by month, for example, or by quarter, or group by month, or sum all Januaries in a decade. All of these are easier to do if the months are in a column than accross multiple

In [ ]:
data[['Product Name', 'Jan', 'Feb', 'Mar']]

In [ ]:
data.shape

In [ ]:
#pd.melt( data to melt, columns to keep)
verticalized = pd.melt(data,id_vars=['Product Name'])
verticalized
verticalized[verticalized['Product Name']== 'Bush Somerset Collection Bookcase']
verticalized = verticalized.rename(columns={'variable':'Month','value':'Sales'})
display(verticalized.head())
display(verticalized.tail())

In [ ]:
22092/12

In [ ]:
verticalized.to_excel('verticalized_products.xlsx', index=False)

In [ ]:
# try to plot the evolution of customizable portfolios of stocks from the file 'stock_prices_1yr.xls'

In [ ]:
data = pd.read_excel('Stock_prices_1yr.xls')
data.head()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
data.dtypes

In [ ]:
plt.plot(data['Date'],data['FGU']) # have to use stock name as a column name here

In [ ]:
verticalized = pd.melt(data,id_vars=['Date']) # prefer to use stock name as something we can select on
display(verticalized.head())
display(verticalized.tail())
# Now we can say simethng like:
verticalized[verticalized['variable'].isin(['TSW','FGU'])]

In [ ]:
# plt.plot(verticalized[verticalized['variable'=='TSW']]['Date'],verticalized[verticalized['variable'=='TSW']]['value'])
# plt.plot(verticalized[verticalized['variable'=='TSW']]['Date'],verticalized[verticalized['variable'=='FGU']]['value'])

In [ ]:
# Pivoting is the inverse of melting.
# When you melt you turn multiple column names into the values of a single column
# When you pivot you turn the values of a column into new column names
superstore_products = pd.read_excel('verticalized_products.xlsx')
superstore_products.head()

In [ ]:
#superstore_products['year'] = 2020

In [ ]:
superstore_products.head()

In [ ]:
# The syntax is 
# in the index argument you put the columns you want to keep
# in the columns argument you put the columns whose values you want to make into columns
dataset=superstore_products.pivot(index=['Product Name'],columns='Month').reset_index()
dataset.head()

In [ ]:
# using an aggregate column index:
dataset[[('Product Name', ''),('Sales','Jan'),('Sales','Feb'),('Sales','Mar')]]

In [ ]:
dataset.columns

In [ ]:
# you can have more than one remaining columns, but that will generate a multi-index
superstore_products['Sales (k)'] = superstore_products['Sales']/1000
superstore_products.head()

In [ ]:
superstore_products.pivot(index='Product Name',columns='Month').head()
# this multi index stuff looks complicated but really is not. The column names are now
# ('Sales','Jan')...('Sales','Dec'),('Sales (k)','Jan'),...,('Sales (k)','Dec')

# rename, then reorder the columns:
# s_p.columns = ['Sales_Apr', 'Sales_Aug', ...]
# s_p = s_p[['Sales_Jan', 'Sales_Feb', ...]]