In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data = pd.read_csv('HC4A_unit4.csv')
display(data.shape)
data.head()

(90569, 28)

,STATE,PVASTATE,DOB,MDMAUD,RECP3,GENDER,DOMAIN,INCOME,HOMEOWNR,HV1,...,VETERANS,NUMPROM,CARDPROM,CARDPM12,NUMPRM12,MAXADATE,RFA_2,NGIFTALL,TIMELAG,AVGGIFT
0,IL,NaN,3712,XXXX,NaN,F,T2,NaN,NaN,479,...,NaN,74,27,6,14,9702,L4E,31,4.0,7.741935
1,CA,NaN,5202,XXXX,NaN,M,S1,6.0,H,5468,...,NaN,32,12,6,13,9702,L2G,3,18.0,15.666667
2,NC,NaN,0,XXXX,NaN,M,R2,3.0,U,497,...,NaN,63,26,6,14,9702,L4E,27,12.0,7.481481
3,CA,NaN,2801,XXXX,NaN,F,R2,1.0,U,1000,...,NaN,66,27,6,14,9702,L4E,16,9.0,6.812500
4,FL,NaN,2001,XXXX,X,F,S2,3.0,H,576,...,NaN,113,43,10,25,9702,L2F,37,14.0,6.864865

In [3]:
data.isnull().sum()

STATE           0
PVASTATE    89184
DOB             0
MDMAUD          0
RECP3       88736
GENDER       2795
DOMAIN       2176
INCOME      20183
HOMEOWNR    21051
HV1             0
HV2             0
HV3             0
HV4             0
IC1             0
IC2             0
IC3             0
IC4             0
IC5             0
VETERANS    80723
NUMPROM         0
CARDPROM        0
CARDPM12        0
NUMPRM12        0
MAXADATE        0
RFA_2           0
NGIFTALL        0
TIMELAG      9653
AVGGIFT         0
dtype: int64

In [ ]:
### Numericals

In [4]:
numericals = data.select_dtypes(np.number)
numericals.head()

,DOB,INCOME,HV1,HV2,HV3,HV4,IC1,IC2,IC3,IC4,IC5,NUMPROM,CARDPROM,CARDPM12,NUMPRM12,MAXADATE,NGIFTALL,TIMELAG,AVGGIFT
0,3712,NaN,479,635,3,2,307,318,349,378,12883,74,27,6,14,9702,31,4.0,7.741935
1,5202,6.0,5468,5218,12,10,1088,1096,1026,1037,36175,32,12,6,13,9702,3,18.0,15.666667
2,0,3.0,497,546,2,1,251,292,292,340,11576,63,26,6,14,9702,27,12.0,7.481481
3,2801,1.0,1000,1263,2,1,386,388,396,423,15130,66,27,6,14,9702,16,9.0,6.812500
4,2001,3.0,576,594,4,3,240,250,293,321,9836,113,43,10,25,9702,37,14.0,6.864865

In [ ]:
numericals.isnull().sum()/len(numericals)

In [ ]:
#### The important income column

In [ ]:
numericals['INCOME'].value_counts(dropna=False)

In [ ]:
numericals['INCOME'].hist(bins=7)

In [ ]:
numericals['INCOME'].mean()

In [ ]:
numericals['INCOME'].fillna(data['INCOME'].mean()).hist(bins=7)

In [ ]:
numericals['INCOME'].fillna(data['INCOME'].mean()).mean()

In [ ]:
numericals.shape

In [ ]:
# instead we are going to use all other columns to "predict" income

In [ ]:
numericals_with_income = numericals[numericals['INCOME'].notna()]
numericals_with_income.shape

In [ ]:
numericals_with_income.head()

In [ ]:
X_income = numericals_with_income.drop(['INCOME','TIMELAG','AVGGIFT'],axis=1)
y_income = numericals_with_income['INCOME']

In [ ]:
X_income.head()

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler

In [ ]:
X_normalized_income = pd.DataFrame(MinMaxScaler().fit_transform(X_income), columns=X_income.columns)
X_normalized_income

In [ ]:
display(X_normalized_income.shape)
display(y_income.shape)

In [ ]:
KNN = KNeighborsClassifier(n_neighbors=3)
KNN.fit(X_normalized_income,y_income)
KNN.score(X_normalized_income,y_income)

In [ ]:
## now on to predict the INCOME from the other features

In [ ]:
numericals.shape

In [ ]:
X_all = numericals.drop(['INCOME','TIMELAG','AVGGIFT'],axis=1)
X_normalized_all = pd.DataFrame(MinMaxScaler().fit_transform(X_all), columns=X_all.columns)
y_all = numericals['INCOME']

In [ ]:
y_all.shape

In [ ]:
predicted_income = pd.Series(KNN.predict(X_normalized_all),name='predicted_income')

In [ ]:
predicted_income.value_counts(dropna=False)

In [ ]:
numericals['INCOME'].value_counts(dropna=False)

In [ ]:
len(predicted_income)

In [ ]:
len(data)

In [ ]:
data = pd.concat([data,predicted_income],axis=1)

In [ ]:
data[['INCOME','predicted_income']].head(25)

In [ ]:
data.INCOME.mean()

In [ ]:
data.predicted_income.mean()

In [ ]:
data['final_income'] =  np.where(data['INCOME'].isna(), data['predicted_income'], data['INCOME'])
data[['INCOME','predicted_income','final_income']].head(25)

In [ ]:
#                                          correct
# values with know IMCOME:  80%                80%
# values with NaN: 20%
#     replaced by prediction
#     of which approximately 50% are correct   10%
#     leaving incorrect value 50%               0%
#                                       Total  90%
#                                      leaving 10% incorrect (but close!) values

In [ ]:
data['final_income'].mean()

In [ ]:
#now with same distribution as before!
data['INCOME'].hist(bins=7)

In [ ]:
data['final_income'].hist(bins=7)

In [ ]:
display(data['final_income'].mean())
display(data['INCOME'].mean())

In [ ]:
data.final_income.value_counts(dropna=False)

In [ ]:
data.drop(['INCOME','predicted_income'],axis=1,inplace=True)
data.head()

In [ ]:
len(data)

In [ ]:
### Now the timelag problem. Activity 2: could you do the same here?

In [ ]:
data['TIMELAG'].nunique()

In [ ]:
display(data['TIMELAG'].value_counts(dropna=False).head(60))
data['TIMELAG'].value_counts(dropna=False).tail(8)

In [ ]:
#ooof ... HEAVYYYYYY skew
data['TIMELAG'].hist(bins=100)
plt.show()

sns.boxplot(y=data['TIMELAG'])
plt.show()

In [ ]:
def log_transfom_clean(x):
    if x>0:
        return np.log(x)
    else:
        return np.NAN # We are returning NaNs so that we can replace them later

In [ ]:
pd.Series(data['TIMELAG'].apply(log_transfom_clean)).hist()
plt.show()

In [ ]:
data['TIMELAG'].median()

In [ ]:
data['TIMELAG_transformed'] = data['TIMELAG'].apply(log_transfom_clean)
data['TIMELAG_transformed'] = data['TIMELAG_transformed'].fillna(np.mean(data['TIMELAG_transformed']))
data['TIMELAG_transformed'].hist()
plt.show()

In [ ]:
data['TIMELAG_transformed'].mean()
#np.e**data['TIMELAG_transformed'].mean()

In [ ]:
# WORD OF WARNING ON ACTIVITY 3
# just like with boxplots, logarithmic transforms and scales are NOT for the final user
# if you have a quantity that you need to express that would require a log transform you're better off binning the data

In [ ]:
data['TIMELAG_transformed'].value_counts(dropna=False)

In [ ]:
np.nanpercentile(data['TIMELAG'],75)

In [ ]:
# Checking how many values will be removed if the outliers are removed
iqr = np.nanpercentile(data['TIMELAG'],75) - np.nanpercentile(data['TIMELAG'],25)
upper_limit = np.nanpercentile(data['TIMELAG'],75) + 1.5*iqr
print(upper_limit)

extraordinary_points = data[data['TIMELAG'] >200]
len(extraordinary_points)  # This checks the number of points that will be removed

In [ ]:
# If we wanted to drop the rows that are above upper_limit
data_timelagNaN_dropped = data[data['TIMELAG'] <= upper_limit].copy()
# however, using <= also removes the rows for which TIMELAG is NaN, se we would need to fillna first.

In [ ]:
len(data_timelagNaN_dropped)

In [ ]:
data['TIMELAG_transformed'].hist()

In [ ]:
# save intermediate results

In [ ]:
#data.to_csv('HC4A_unit4_ver0.csv', index=False)